* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  background-color: red;
}

ol {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem;
}

ol li {
  list-style-type: none;
  width: 300px;
  height: 400px;
  margin: 4rem;
  color: white;
  background-color: black;
  text-align: center;
}

ol li .internal-box {
  margin: 1rem;
}

ol li h2 {
  margin-bottom: 2rem;
}

ol li div {
  margin-bottom: 1rem;
}

